{% extends "base.html.twig" %}
{% block content %}
    <div class="row list">
        {% for project in projects -%}
            <div class="col-md-6">
                {% include  "project.html.twig" with { item: project } %}
            </div>
        {%- endfor %}
    </div>
{% endblock %}
