---
import { Image } from "astro:assets";
---

<a
  class="flex flex-col items-center gap-2 justify-center rounded-lg py-3 px-6 text-sm outline-offset-2 transition bg-white text-black font-medium hover:bg-neutral-50 dark:text-white dark:bg-neutral-800/50 dark:hover:bg-neutral-800 dark:hover:text-main-400 hover:text-main-400 group w-full border dark:border-white/20 border-neutral-200"
  href="https://github.com/users/Plopix/sponsorship"
  target="_blank"
>
  <Image
    width={80}
    height={80}
    loading="lazy"
    alt="Sponsor me on Github"
    src="https://github.githubassets.com/images/modules/site/sponsors/logo-mona.svg"
  />
  Sponsor me on Github
</a>
